<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Dashboard</title>
    <link rel="stylesheet" href="styles.css"> 
    <script src="script.js" defer></script> 
</head>
<body>
    <header>
        <h1>Email Dashboard</h1>
        <button id="connect-Gmail" onclick=  window.location.href = 'http://localhost:5007/callback'>Connect with Gmail</button>
    </header>
    <main>
        <section id="email-list">
        
        </section>
    </main>
</body>
</html>
